<% if logged_in?(:site_admin) %>
  <div class="blog-admin-actions ml-auto">
    <i><%= @blog.status %></i>
    <%= link_to "", toggle_status_blog_path(@blog), class: (@blog.draft? ? "fa fa-upload" : "fa fa-check")  %>
    <%= link_to "",  edit_blog_path(@blog), class: "fa fa-pencil" %>
    <%= link_to "",
         @blog, method: :delete,
         data: {confirm: "Are you sure you want to delete this blog post?"},
         class: "fa fa-trash" %>
  </div>
<% end %>
