<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Blog Topics
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <% @header_topics.each do |topic| %>
      <%= link_to topic.title, topic_path(topic), class: "dropdown-item" %>
    <% end %>
    <%# TODO: create new topic path  %>
    <% if logged_in?(:site_admin) %>
      <div class="dropdown-divider"></div>
      <%= link_to "All Topics", topics_path, class: "dropdown-item"%>
      <%= link_to "Create New Topic", "/topics/new", class: "dropdown-item"%>
    <% end %>
  </div>
</div>
