<div class="blog-header bg-secondary">
  <div class="container">
    <div id="title" class="blog-title">My Blog Title</div>
    <p class="blog-description">
      Javascript, Ruby, Elixir.
    </p>
    <div class="blog-links">
      <%= render "blogs/header_topics" %>
      <a class="btn btn-sm btn-outline-light" href="https://github.com/SPDUK">Github</a>
      <a href="https://github.com/SPDUK"></a>
      <%= link_to 'New Blog Post', new_blog_path, class: "btn btn-sm btn-info" if logged_in?(:site_admin) %>
    </div>
  </div>
</div>
