<div class="blog-header">
  <div class="container">
    <h1 id="blog-title" class="blog-title">My Blog</h1>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to "Topics", topics_path %>
  </div>
</div>
