<%= topics.each_slice(4) do |sliced_topics| %>
  <div class="row">
    <% sliced_topics.each do |topic| %>
      <div class="col-3">
        <img src="<%= topic.icon %>" alt="<%= topic.title %>">
        <span><%= topic.title %></span>
      </div>
    <% end %>
  </div>
<% end %>
