<div class="application container">
  <div class="application-title">
    <h2 id="title">I'm Steve.</h2>
    <div class="application-title-subtitle">Something. Something. Something.</div>
  </div>
  <div class="application-info">
    <p class="application-info-about">I am a full stack web developer, focusing on <span>Javascript</span>,
      <span>Ruby</span> & <span>Elixir</span>.
      Interested in <span>Automation</span> and <span>Functional Programming.</span>
    </p>
    <p>
      I'm self taught and passionate about code, I love to learn new things and explore computer science. When I'm not writing code, I'm likely talking about it, reading about it or helping others learn about it too.
    </p>
    <div class="application-info-links">
      <p>You can check out my <%= link_to "Blogs", blogs_path %>, 
        take a look at my recent <%= link_to "Projects", projects_path %>,
        follow my <a href="https://github.com/SPDUK">Github</a>, or just 
        <span id="contact">send me an email.</span>
      </p>
    </div>
    <div class="application-info-icons">
      <h5>Tools I use</h5>
      <%= render "shared/icons" %>
    </div>
  </div>
</div>
<%# TODO: make the contact me scroll down to a contact form %>
