<div class="application container">
  <div class="application-title">
    <h1 id="title">I'm Steve.</h1>
    <h4>Full stack developer.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veniam voluptatum distinctio ad totam laudantium nihil at optio id soluta similique culpa vitae quam est voluptas,
      <%= link_to "Learn more.", about_me_path, class: "application-title-link text-light"  %>
    </div>
  </div>
</div>
