<div class="application container">
  <div class="application-title">
    <div id="title">
      <span class="letters letters-left">Hi,</span>
      <span class="letters letters-center">I'm</span>
      <span class="letters letters-right">Steve</span>
    </div>
    <span class="application-title-subtitle letters">Full-stack Developer from Cambridgeshire, UK</span>
    <div id="about" class="application-title-about">
      <p>I'm self taught and always learning. I love making things on the web, focusing on javascript and functional programming.</p>
    </div>
  </div>
  <div class="application-links">
    <%= link_to "Blog", blogs_path, class: "btn btn-light" %>
    <%= link_to "Projects", projects_path, class: "btn btn-light" %>
    <a class="btn btn-light" href="https://github.com/SPDUK">Github</a>
  </div>
  <div class="application-icons">
    <div class="translucent-bg">
      <h5>Tools I use</h5>
      <%= render "shared/icons", topics: @topics %>
    </div>
  </div>
</div>
