<div class="application container">
  <div class="application-title">
    <h2 id="title">I'm Steve.</h2>
    <h5>Full stack developer.</h5>
    <p class="text-teal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur veniam voluptatum distinctio ad totam laudantium nihil at optio id soluta similique culpa vitae quam est voluptas,
    </div>
  </div>
</div>
