<div class="application container">
  <div class="application-title">
    <div id="title">
      <span class="letters letters-left">Hi,</span>
      <span class="letters letters-center">I'm</span>
      <span class="letters letters-right">Steve</span>
    </div>
    <span class="application-title-subtitle letters">Software Developer from Cambridgeshire, UK.</span>
  </h1>
</div>
<div id="mouse-scroll">
  <svg width="40" height="90" viewBox="0 0 50 70">
    <rect stroke-width="2" x="5" y="5" rx="36" ry="20" width="40" height="70" stroke="rgba(255,255,255,0.6)" fill="rgba(0,0,0,0)" stroke-width="4"></rect>
    <rect width="2.5" height="15" x="23" y="5" id="mouse-scroll-line" fill="#fff"></rect>
  </svg>
</div>
<div class="application-info">
  <p id="about" class="application-info-about">I am a full stack developer, focusing on <span>Javascript</span>,
    <span>Ruby</span> & <span>Elixir</span>.
    Interested in <span>Concurrency</span>, <span>Automation</span> and <span>Functional Programming.</span>
  </p>
  <ul class="application-info-list">
    <li>I'm self-taught, always learning.</li>
    <li>Passionate about good code.</li>
    <li>I Follow best practices, and strict style guides.</li>
    <li>All of my code is documented.</li>
    <li>My functions are simple, small and modular.</li>
    <li>I leave comments as I create and maintain code.</li>
  </ul>
  <div class="application-info-links">
    <p class="application-info-animate">You can check out my <%= link_to "Blogs", blogs_path %>, 
      take a look at my recent <%= link_to "Projects", projects_path %>, 
      or just follow my <a href="https://github.com/SPDUK">Github</a>.
    </p>
  </div>
  <div class="application-info-icons">
    <h5>Tools I use</h5>
    <%= render "shared/icons" %>
  </div>
</div>
