<div class="application container">
  <div class="application-title">
    <h2 id="title">I'm Steve.</h2>
    <div class="application-title-subtitle">Something. Something. Something.</div>
  </div>
  <div class="application-info">
    <p class="application-info-about">I am a full stack web developer, Focusing on <a href="https://www.google.com">Javascript</a>,
      <a href="https://www.google.com">Ruby</a> & <a href="https://www.google.com">Elixir</a>.
      Interested in <a>Automation</a> and <a>Functional Programming.</a>
    </p>
    <p>
      I'm self taught and passionate about code, I love to learn new things and explore computer science. When I'm not writing code, I'm likely talking about it, reading about it or helping others learn about it too.
    </p>
    <div class="application-info-buttons">
      <%= link_to "My Blog", blogs_path, class: "btn btn-outline-success" %>
      <%= link_to "My Projects", projects_path, class: "btn btn-outline-info" %>
    </div>
    <div class="application-info-icons">
      <%= render "shared/icons" %>
    </div>
  </div>
</div>
