<div class="inner cover">
  <h1 id="title">Welcome.</h1>
  <p class="lead">
    Quisque vitae mollis tortor. Suspendisse posuere mauris nec facilisis placerat. Fusce tincidunt fringilla velit, vitae tempus diam congue eget. Phasellus molestie, eros vitae tincidunt ullamcorper, metus leo tempus dolor, ut venenatis felis leo non nisl. Pellentesque cursus risus vitae purus suscipit, quis vehicula leo varius. Etiam laoreet mi urna, et suscipit libero venenatis sed. Etiam at dolor finibus, dignissim magna tempus, posuere nunc. Donec efficitur elit eget enim fringilla bibendum. Donec dolor nibh, pretium vel dignissim placerat, consequat at lacus. Donec elementum maximus nulla tempus lacinia. Aliquam rutrum cursus mauris, sit amet blandit eros scelerisque at. Maecenas interdum ex tortor, ac egestas augue convallis vitae. Aliquam facilisis dui nec orci pretium faucibus. Etiam non sapien diam. Phasellus auctor dignissim neque ac mattis.
  </p>
  <p class="lead">
    Quisque vitae mollis tortor. Suspendisse posuere mauris nec facilisis placerat. Fusce tincidunt fringilla velit, vitae tempus diam congue eget. Phasellus molestie, eros vitae tincidunt ullamcorper, metus leo tempus dolor, ut venenatis felis leo non nisl. Pellentesque cursus risus vitae purus suscipit, quis vehicula leo varius. Etiam laoreet mi urna, et suscipit libero venenatis sed. Etiam at dolor finibus, dignissim magna tempus, posuere nunc. Donec efficitur elit eget enim fringilla bibendum. Donec dolor nibh, pretium vel dignissim placerat, consequat at lacus. Donec elementum maximus nulla tempus lacinia. Aliquam rutrum cursus mauris, sit amet blandit eros scelerisque at. Maecenas interdum ex tortor, ac egestas augue convallis vitae. Aliquam facilisis dui nec orci pretium faucibus. Etiam non sapien diam. Phasellus auctor dignissim neque ac mattis.
  </p>
  <p class="lead">
    <%= link_to "Learn More", about_me_path, class: "btn btn-lg btn-secondary"  %>
  </p>
</div>
