<%= render "carousel" %>
<div class="container">
  <div class="projects">
    <%= link_to "Create New Project", new_project_path if logged_in?(:site_admin) %>
    <h5>More Projects</h5>
    <div class="row" id="<%= 'sortable' if logged_in?(:site_admin) %>">
      <%= render @projects %>
    </div>
  </div>
</div>
