@import './variables.scss';
@import './navbar.scss';
@import './toggle.scss';
@import './scroller.scss';

@mixin translucent-bg {
  text-align: left !important;
  padding: 1em !important;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  color: rgb(253, 253, 253) !important;
  p {
    a,
    #contact {
      color: rgb(235, 252, 255) !important;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.application {
  text-align: center;
  &-title {
    display: block;
    width: 100%;
    font-size: 2.5em;
    // only apply font to top title text
    #title {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }
    @media (min-width: 768px) {
      font-size: 3em;
    }
    @media (min-width: 990px) {
      font-size: 3.5em;
    }
    &-subtitle {
      // TODO: make this fit with whatever content ends up being there
      font-size: 0.4em;
      @media (min-width: 335px) {
        font-size: 0.45em;
      }
      opacity: 0.7;
    }
  }
  &-info {
    margin-top: 50vh;
    @media (min-width: 768px) {
      margin-top: 70vh;
    }
    @media (min-width: 2000px) {
      margin-top: 75vh;
    }
    @include translucent-bg;

    p {
      font-weight: 300;
      margin-bottom: 1.7rem;
    }
    &-about {
      font-size: 1.3em;
      span {
        font-style: italic;
      }
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
    }
    &-icons {
      text-align: center;
      padding-top: 25px;
      margin-top: 25px;
      .col-3 {
        transition: 0.2s ease-out;
        padding: 1rem 0.2rem;
        @media screen and (min-width: 340px) {
          padding: 1rem 0.3rem;
        }
        @media screen and (min-width: 375px) {
          padding: 1rem 0.4rem;
        }
        @media screen and (min-width: 420px) {
          padding: 1rem 0.5rem;
        }
        &:hover {
          transition: 0.1s ease;
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: 35px;
        background: rgba(255, 255, 255, 0.07);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 2px 2px 0 0;
        padding: 1px;
      }
      span {
        display: flex;
        justify-content: center;
        font-size: 0.66em;
        opacity: 0.9;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0 0 2px 2px;
        @media screen and (min-width: 340px) {
          font-size: 0.75em;
        }
        @media screen and (min-width: 375px) {
          font-size: 0.8em;
        }
      }
    }

    // desktop styles
    // display: flex;
    // justify-content: center;
    // if the screen is too small horizontally or vertically (can't read text) show background

    // @media screen and (max-width: 768px), screen and (max-height: 950px) {
    //   @include translucent-bg;
    // }
  }

  &-footer {
    padding: 1rem 0;
    width: 100%;
    bottom: 0.3em;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    @media screen and (min-width: 768px) {
      justify-content: flex-end;
      padding: 0 1rem;
      position: fixed;
    }
    a {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.card {
  width: 400px;
  max-width: 400px;
  &-footer-links a {
    margin-left: 4px;
  }
}

.input-group-prepend span {
  width: 40px;
  border: 0 !important;
}

.login_btn {
  width: 100px;
}

.form {
  &-actions {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &-label {
    display: flex;
    justify-content: left;
  }
}

.is-invalid {
  background-position: center right calc(0.9em + 0.1875rem) !important;
}

.devise-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
