@import './variables.scss';
@import './navbar.scss';
@import './toggle.scss';
@import './scroller.scss';

@mixin translucent-bg {
  text-align: left !important;
  padding: 1em !important;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  color: rgb(253, 253, 253);
  p {
    a {
      color: rgb(255, 255, 255);
      text-decoration: underline;
      font-weight: 800;
      text-decoration-color: rgb(160, 225, 255);
      &:hover {
        color: rgb(230, 230, 230);
      }
    }
  }
}

.application {
  text-align: center;
  padding-top: 6.5em;
  &-title {
    display: block;
    width: 100%;
    font-size: 2.5em;
    // only apply font to top title text
    #title {
      font-family: 'Poppins', sans-serif;
      padding-top: 0.1em;
      padding-right: 0.05em;
      padding-bottom: 0.15em;
      line-height: 1em;
      .letters {
        display: inline-block;
        opacity: 0;
      }
    }
    @media (min-width: 768px) {
      font-size: 3em;
    }
    @media (min-width: 990px) {
      font-size: 3.5em;
    }
    &-subtitle {
      opacity: 0.85;
      font-size: 0.31em;
      @media (min-width: 335px) {
        font-size: 0.35em;
      }
      @media (min-width: 387px) {
        font-size: 0.4em;
      }
      @media (min-width: 500px) {
        font-size: 0.45em;
      }
    }
  }
  &-info {
    margin-top: 50vh;
    @media (min-width: 768px) {
      margin-top: 63.5vh;
    }
    @media (min-height: 2000px) {
      margin-top: 80vh;
    }
    @media (min-width: 2000px) {
      margin-top: 80vh;
    }
    @include translucent-bg;
    p {
      font-weight: 300;
    }
    &-about {
      font-size: 1.3em;
      span {
        font-style: italic;
      }
    }
    &-list {
      overflow: hidden;
      margin: 1.5rem 0;
      padding-left: 0.5rem;
      text-align: left;
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      list-style-type: none;
      // make the text take up 50% of the width, and align the text on the right to the right side
      @media (min-width: 991.98px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 0.5rem;
      }
      li {
        opacity: 0;
        margin: 0.5rem 0;
        @media (min-width: 991.98px) {
          flex-basis: 50%;
          &:nth-child(even) {
            text-align: right;
          }
        }
      }
    }
    &-animate {
      opacity: 0;
    }
    &-links {
      // applies the border mid-way
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }
    &-icons {
      text-align: center;
      padding-top: 25px;
      margin-top: 25px;
      .col-3 {
        cursor: pointer;
        opacity: 0;
        transition: 0.2s ease-out;
        padding: 1rem 0.2rem;
        @media screen and (min-width: 340px) {
          padding: 1rem 0.3rem;
        }
        @media screen and (min-width: 375px) {
          padding: 1rem 0.4rem;
        }
        @media screen and (min-width: 420px) {
          padding: 1rem 0.5rem;
        }
        &:hover {
          transition: 0.1s ease;
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: 35px;
        background: rgba(255, 255, 255, 0.07);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 2px 2px 0 0;
        padding: 1px;
      }
      span {
        display: flex;
        justify-content: center;
        font-size: 0.66em;
        opacity: 0.9;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0 0 2px 2px;
        @media screen and (min-width: 340px) {
          font-size: 0.75em;
        }
        @media screen and (min-width: 375px) {
          font-size: 0.8em;
        }
      }
    }
  }
}

@mixin bg {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  will-change: auto;
  transform: translate3d(0px, y, 0px);
  -webkit-backface-visibility: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transition: 450ms ease;
  background-attachment: fixed;
  @media screen and (max-width: 400px) {
    background-size: 100% auto;
  }
  // keep the background taking up the full screen
  // unless the height is 1000px
  @media (max-width: 400px), (min-height: 1000px) {
    background-size: cover;
  }
  @media (min-height: 1000px) {
    position: absolute;
  }
}
#bg {
  @include bg;
}
// used on desktop views, scrolls on top of the previous background to change from day to night while scrolling
// only shows over 10000 height (causes issues otherwise)
#bg2 {
  @media (min-height: 1000px) {
    top: 80vh;
    position: absolute;
    @include bg;
  }
  @media (min-aspect-ratio: 19/9) {
    top: 100vh;
  }
}

.card {
  width: 400px;
  max-width: 400px;
  &-footer-links a {
    margin-left: 4px;
  }
}

.input-group-prepend span {
  width: 40px;
  border: 0 !important;
}

.login_btn {
  width: 100px;
}

.form {
  &-actions {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &-label {
    display: flex;
    justify-content: left;
  }
}

.is-invalid {
  background-position: center right calc(0.9em + 0.1875rem) !important;
}

.devise-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#stars,
#snow {
  height: 35%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 48px;
  width: 100%;
  @media screen and (min-width: 768px) {
    top: 0px;
  }
}
