@import './variables.scss';
@import './toggle.scss';
@import './navbar.scss';

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

.container {
  max-width: 42rem !important;
}

.blog {
  &-main {
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  &-header {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
  }
  &-title {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
  &-description {
    font-weight: 700;
  }
  &-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    .dropdown {
      margin-right: 1.2em;
    }
    .btn-info {
      margin-left: 1.2em;
      @media (max-width: 350px) {
        margin-top: 1.2em;
      }
    }
  }
  &-pagination {
    margin-bottom: 4rem;
  }
  &-pagination > .btn {
    border-radius: 2rem;
  }
  // styles for an individual blog post on the show page
  &-meta {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    line-height: 100%;
    font-size: 0.7em;
    // make the meta text fit on one line for small screens
    // TODO: find out if there's an easier way to calculate this
    @media (min-width: 320px) {
      font-size: 0.7em;
    }
    @media (min-width: 340px) {
      font-size: 0.76em;
    }
    @media (min-width: 360px) {
      font-size: 0.81em;
    }
    @media (min-width: 400px) {
      font-size: 0.89em;
    }
    @media (min-width: 440px) {
      font-size: 1em;
    }
    span {
      margin-right: 1rem;
      padding-right: 0.5rem;
    }
  }
  // styles for the index page posts
  &-post {
    margin-bottom: 4rem;
    transition: 0.2s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }
    .card-header {
      font-size: 1.1em;
      font-weight: 800;
      @media (min-width: 400px) {
        font-size: 1.2em;
      }
      &-title {
        display: flex;
        justify-content: space-between;
      }
      &-meta {
        font-size: 0.6em;
        font-weight: 400;
      }
    }
    &-title {
      margin-bottom: 0.25rem;
      font-size: 2.5rem;
    }
  }
  &-footer {
    padding: 2.5rem 0;
    text-align: center;
    border-top: 0.05rem solid #e5e5e5;
    margin-top: 20px;
  }
  &-footer p:last-child {
    margin-bottom: 0;
  }
}

// blog comments (TODO: better styles)
.comment-card > .card {
  margin-top: 15px;
}
.comment-card {
  &-image {
    padding-right: 5px;
  }
  &-info {
    font-size: 0.8em;
    font-style: italic;
  }
}

//  rouge styles for markdown
div.highlight {
  border-radius: 0.2rem;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 12px;
}
pre.highlight {
  padding-bottom: 10px;
}

.blog-admin-actions {
  a,
  i {
    margin: 0 5px;
  }
}

// make badge text smaller and make it not grow too big when using flexbox
.badge {
  height: 100%;
  font-size: 0.7em;
}
