@import './variables.scss';
@import './toggle.scss';
@import './navbar.scss';

.blog-container.container {
  max-width: 42rem !important;
  @media (min-width: 48em) {
    font-size: 18px;
  }
}

.blog {
  &-main {
    margin-top: 3rem;
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  h2 {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
  &-description {
    span,
    button,
    a {
      font-weight: 700;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &-pagination {
    margin-bottom: 4rem;
  }
  &-pagination > .btn {
    border-radius: 2rem;
  }
  // styles for an individual blog post on the show page
  &-meta {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    line-height: 100%;
    font-size: 0.7em;
    // make the meta text fit on one line for small screens
    // TODO: find out if there's an easier way to calculate this
    @media (min-width: 320px) {
      font-size: 0.7em;
    }
    @media (min-width: 340px) {
      font-size: 0.76em;
    }
    @media (min-width: 360px) {
      font-size: 0.81em;
    }
    @media (min-width: 400px) {
      font-size: 0.89em;
    }
    @media (min-width: 440px) {
      font-size: 1em;
    }
    span {
      margin-right: 1rem;
      padding-right: 0.5rem;
    }
  }
  // styles for the index page posts
  &-post {
    margin-bottom: 4rem;
    transition: 0.15s ease-in-out;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175);
    }
    .card-header {
      font-size: 1.1em;
      font-weight: 800;
      @media (min-width: 400px) {
        font-size: 1.2em;
      }
      &-title {
        @media (min-width: 400px) {
          display: flex;
          justify-content: space-between;
        }
        .text-dark {
          display: block;
        }
        span {
          word-wrap: break-word;
          word-break: break-word;
        }
      }
      &-meta {
        font-size: 0.6em;
        font-weight: 400;
      }
    }
    &-title {
      margin-bottom: 0.25rem;
      font-size: 2.5rem;
    }
  }
}

.blog-admin-actions {
  a,
  i {
    margin: 0 5px;
  }
}

// make badge text smaller and make it not grow too big when using flexbox
.badge {
  height: 100%;
  font-size: 0.7em !important;
}

.nav-bg {
  height: 48px;
  @media (min-width: 768px) {
    height: 60px;
  }
}
