.carousel-bg {
  background: rgb(0, 0, 0);
}

.carousel {
  margin: 0 auto;
  height: 400px;
  margin-top: 48px;
  background: rgb(0, 0, 0);
  max-width: 2600px;
  @media (min-width: 768px) {
    margin-top: 0px;
    height: 600px;
  }
  &-item {
    max-width: 2500px;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center auto;
    @media (min-width: 400px) {
      background-size: 768px auto;
      background-position: center top;
    }
    @media (min-width: 768px) {
      height: 600px;
      background-position: center top;
      background-size: auto;
    }
    img {
      display: block;
    }
  }
  &-caption {
    h5 {
      font-family: 'Poppins', sans-serif;
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    .btn {
      width: 100%;
      border-radius: 0;
      font-size: 18px;
      padding: 9px 0;
      border: 1px solid#36bfff;
    }
  }
  &-indicators {
    margin-bottom: 0px;
    li {
      height: 3px !important;
      width: 45px !important;
      @media (min-width: 768px) {
        height: 5px !important;
      }
    }
    li.active {
      background-color: #3498db;
    }
    @media (min-width: 768px) {
      margin-bottom: 5px;
    }
  }
  span {
    cursor: pointer;
  }
}

// hide the carousel actions unless hovering
.carousel:hover {
  .carousel-control-prev,
  .carousel-control-next {
    visibility: visible;
  }
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
  visibility: hidden;
  @media (min-width: 768px) {
    display: flex;
  }
  // add border and background to arrows
  &-icon {
    height: 60px !important;
    width: 30px !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(250, 250, 250, 0.5) !important;
  }
}
