.carousel-bg {
  background: rgb(0, 0, 0);
}

.carousel {
  margin: 0 auto;
  height: 400px;
  background: rgb(0, 0, 0);
  max-width: 2600px;
  @media (min-width: 768px) {
    margin-top: 0px;
    height: 600px;
  }

  &-item {
    max-width: 2500px;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 768px auto;
    background-position: center top;
    background-image: url('https://i.imgur.com/fh2DCKy.jpg');
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      height: 600px;
      background-position: center top;
      background-size: auto;
      background-image: url('https://i.imgur.com/J4Fun0d.jpg');
    }
    // add radial gradient that fades from the background color to the one the image has
    @media (min-width: 2500px) {
      background-image: radial-gradient(
          circle,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 1) 95%
        ),
        url('https://i.imgur.com/J4Fun0d.jpg');
    }
    img {
      display: block;
    }
  }
  span {
    cursor: pointer;
  }
}
