@import './variables.scss';
@import './navbar.scss';
@import './toggle.scss';
@import './carousel.scss';

.projects {
  h5 {
    padding: 25px 0;
  }
}

.project {
  margin-bottom: 1.5rem;
  img {
    transition: 0.2s ease;
    outline: 1px solid rgba(255, 255, 255, 0.15);
    outline-offset: -1px;
    &:hover {
      outline: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  &-text {
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.file-container {
  height: 80px;
}
.file-upload {
  height: 40px;
  padding: 5px;
}
