@import './variables.scss';
@import './navbar.scss';
@import './toggle.scss';
@import './carousel.scss';

.projects {
  h5 {
    padding: 15px 0;
  }
  margin: 50px 0;
}

.project {
  margin-bottom: 1.5rem;
  img {
    transition: 0.2s ease-out;
    outline: 1px solid rgba(255, 255, 255, 0.15);
    outline-offset: -1px;
  }
  &:active,
  &:hover {
    @media (max-width: 768px) {
      transition: 0.2s ease-out;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  &-overlay {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    opacity: 0;
    animation: hideOverlayBackground 0.2s ease-out forwards;
    position: absolute;
    // have to calculate the bootstrap column padding
    bottom: 24px;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 24px);
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #36bfff;

    &-text {
      animation: hideOverlayText 0.2s ease-out forwards;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      span,
      a {
        display: block;
        margin: 20px auto;
      }
      span {
        text-align: center;
        font-size: 1.1em;
        @media (min-width: 1000px) {
          font-size: 1.2em;
        }
      }
      a {
        border-radius: 0;
        width: 80%;
        border: 1px solid #36bfff;
      }
    }
  }
}

.project:hover > .project-overlay {
  animation: showOverlayBackground 0.2s ease-out forwards;
}
.project:hover > .project-overlay > .project-overlay-text {
  animation: showOverlayText 0.2s ease-out forwards;
}

@keyframes showOverlayText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hideOverlayText {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes showOverlayBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideOverlayBackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.file-container {
  height: 80px !important;
}
.file-upload {
  height: 40px !important;
  padding: 5px !important;
}

.projects-show {
  margin-top: -48px;
  @media (min-width: 768px) {
    margin-top: 0px;
  }
  #projects-show-header {
    background-color: rgb(0, 0, 0);
    height: 70vh;
    max-height: 800px;
    overflow: hidden;
    object-fit: contain;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
  }
  &-title {
    margin-top: 3rem;
    h2 {
      margin-bottom: 0;
    }
  }
}
