@import 'gritter';

$primary: #354a4d;
$primary-dark: #0e1012;
$black: #0f0b0c;
$primary-light: #f5f0dc;
$alt: #fc5661;
$alt-dark: #717f80;
$white: #eaeaea;

.hidden-desktop {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.hidden-mobile {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
